#/////////////////////////////////////////////////////////////////////////////
# Cocos Creator Projects
#/////////////////////////////////////////////////////////////////////////////

build/
library/
temp/
local/
jsb-default/
jsb-binary/
jsb-link/
web-desktop/
web-mobile/
runtime/
jsb/
export/

#/////////////////////////////////////////////////////////////////////////////
# Logs and databases